{
  "name": "{{ plugin_name }}",
  "version": "{{ plugin_version }}",
  "description": "{{ plugin_description }}",
  "author": {
    "name": "{{ author_name }}"
  },
  "license": "{{ license }}",
  "surface_registry": "{{ surface_registry_path }}"
}
